header {
    text-align: center;
    font-size: 1.8rem;
    p {
        font-size: 1rem;
    }
}

.boxes{
    text-align: center;
img{
    width: $img__size;
    height: $img__size;
}
p{
    font-size: 0.9rem;
}
}