body{
    background-color:$background;
    font-family: $font__main;
}


header {
    text-align: center;
    font-size: 1.6rem;
    font-weight:100;
    height: 175px;
    p {
        font-size: 1rem;
        color: $font_color;
    }
}

.boxes{
    text-align: center;
    border-top: 1px solid $lightgray;
    height: 300px;
img{
    width: $img__size;
    height: $img__size;
}
p{
    font-size: 0.8rem;
    color: $descriptiongray;
    font-weight:100;
}
}