header {
    text-align: center;
    font-size: $line_height_font;
    font-weight: 100;
    height: 175px;
    border-bottom: solid 1px $lightgray;
    h1 {
        padding-bottom: 10px;
        padding-top: 36px;
        @include desktop{
            font-size: 2rem;
        }
    }
    p {
        font-size: 1rem;
        color: $font_color;
        line-height: $line_height_font;
        @include tablet {
            width: 70%;
            margin: auto;
            font-size: 1.3rem;
        }
        @include desktop{
            width: 60%;
            font-size: 1.5rem;
        }
    }
}

.boxes-container {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }
    .boxes {
        text-align: center;
        height: 291px;
        -webkit-box-shadow: inset 0 -1px 0 $lightgray, ;
        margin: 0 5px;
        @include tablet {
            width: 50%;
            -webkit-box-shadow: inset -1px 0 0 $lightgray, ;
            margin: 0;
        }
        @include desktop {
            width: 25%;
            -webkit-box-shadow: inset 0 -1px 0 $lightgray, inset -1px 0 0 $lightgray,;
                height: 370px;
        }
        img {
            width: $img__size;
            height: $img__size;
            padding: 26px;
        }
        h3 {
            font-size: 0.85rem;
            margin: auto;
            width: 44%;
            line-height: 1.3rem;
        }
        p {
            font-size: 0.7rem;
            color: $descriptiongray;
            font-weight: 100;
            line-height: $line_height_font;
            @include desktop{
                padding: 0 12px;
                font-size: 1rem;
            }
        }
    }
}

.clock h3 {
    width: 60%;
}