//fonts
$font__main: open_sansregular, sans-serif;

//sizing
$img__size: 150px;

//line-height
$line_height_font: 1.6rem;

//breakpoints
$breakpoint1: 760px;
$breakpoint2:1024px;

//color
$font_color: #808080;
$lightgray: #d3d3d3;
$descriptiongray: #708090;
$background: #f1f2f2;
